*{
    margin: 0;padding: 0;
    font-family:sans-serif;
    font-size: 14px;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    margin: 0 auto;
    min-width: 1200px;
}
/*头部*/
.clearfix:after{
    display: block;
    clear: both;
    content: '';
}
header{
    background: #EEEEEE;
    margin: 0 auto;
}
/*header:after{*/
    /*display: block;*/
    /*clear: both;*/
    /*content: "";*/
/*}*/
header img{
    display: block;
    margin: 0 auto;
    width: 1200px;
}
/*导航条*/
.head-top{
    width: 100%;
    background: #333333;
}
.head-t{
    width: 1200px;
    margin: 0 auto;
    height:40px;
    background: #333333;
}
.head-t:after{
    display: block;
    clear: both;
    content: "";
}
.hd-left{
    float: left;
    list-style: none;
}
.hd-left li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #B0B0B0;
    float: left;
    margin: 0 4px;
}
.hd-left li span{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #424242;
    float: left;
}
.hd-left li:hover a{
    color: white;
}
.hd-left li a{
    font-size: 12px;
    display: block;
    color: #B0B0B0;
}
.hd-right{
    float: right;
    height: 40px;
    line-height: 40px;
}
.hd-right span{
    text-align: center;
    line-height: 40px;
    color: #B0B0B0;
    float: right;
    margin:0 4px;
}
.hd-right span a{
    font-size: 12px;
    display: block;
    color: #B0B0B0;
}
.hd-right span:hover a{
    color: white;
}
/*logo搜索框*/
.hd-search{
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    padding: 25px 0;
    position: relative;
}
.hd-search:after{
    display: block;
    clear: both;
    content: "";
}
.hd-logo{
    width: 220px;
    line-height: 60px;
    float: left;
}
.hd-logo img{
    height: 100%;
    float: left;
}
.hd-logo img:nth-of-type(2){
    margin-left: 90px;
}
.hd-con{
    width:672px;
    height: 60px;
    float: left;
    padding-left: 20px;

    line-height: 60px;
}
.hd-con li{
    float: left;
    text-align: center;
}
.hd-con li a{
    display: block;
    padding:  0 10px;
    color: #0B0C0E;
    font-size: 16px;
}
.hd-con li .aLi-ul2{
    width:1200px;
    height:200px;
    position:absolute;
    top:82px;left:0;
    background: white;
    color: #666666;
    display: none;
    z-index:22;
}
.hd-con li .aLi-ul2 li{
    color: #666;padding: 0 20px;font-size: 16px;
    float: left;
}
.hd-con li .aLi-ul2 li:hover{
    background: none;
    color: #ff6600;
}
.hd-con li:hover a{
    color: #FF6700;
}
.hd-ss{
    width: 284px;
    float: left;
    position: relative;
}
.hd-ss:after{
    display: block;
    clear: both;
    content: "";
}
.hd-ss input{
    width: 190px;
    float: right;
    height: 38px;
    margin-top: 10px;
    padding: 0 10px;
    border: 1px solid #ECECEC;
}
.hd-btn{
    width: 72px;
    float:right;
    height: 40px;
    margin: 10px 0;
    position: relative;
}
.hd-btn .but{
    width: 100%;height: 39px;
    background: white;
    border: 0.5px solid #A9A9A9;
}
.hd-btn .but:hover{
    background: #f25807;
}
.hd-btn img{
    position: absolute;
    top: 12px;
    right: 22px;
}
.conts{
     width: 72px;
     height: 18px;
     position:absolute;
     top: 20px;
     right: 90px;
 }
.conts a,.cont a{
    color: #7C7C7C;
    font-size: 12px;
    background: #EEEEEE;
    height: 18px;
    display: block;
}
.conts:hover a{
    background: #f25807;
    color: white;
}
.cont:hover a{
    background: #f25807;
    color: white;
}
.cont{
    width: 76px;
    height: 18px;
    position:absolute;
    top: 20px;
    right: 170px;
}
/*banner部分*/
.banner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.banner .swiper-container{
    width: 100%;
}
.swiper-slide{
    width: 100%;
}
.swiper-slide a{
    display: block;
}
.swiper-slide a img{
    width: 100%;
    position: relative;
}
.btno{
    width: 41px;
    height: 69px;
    position: absolute;
    left: 234px;
    top: 50%;
    text-align: center;
    line-height: 80px;
    margin-top: -34.5px;
    z-index:1;
}
.btno:hover{
    background: rgba(0,0,0,0.6);
}
.btnt:hover{
    background: rgba(0,0,0,0.6);
}
.btno img{
    width: 24px;
    height: 24px;
}
.btnt{
    width: 41px;
    height: 69px;
    text-align: center;
    line-height: 80px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -34.5px;
    z-index: 1;
}
.btnt img{
    width: 24px;
    height: 24px;
}
.banner-left{
    padding: 20px 0;
    background: rgba(0,0,0,0.6);
    width: 234px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
.banner-left li{
    width: 204px;
    height: 41px;
    padding-left: 30px;
    color: white;
    line-height: 42px;
    /*position: relative;*/
}
.banner-left li:hover{
    background: #ff6700;
}
/*.banner-left li i{*/
    /*position: absolute;*/
    /*top: 12px;*/
    /*right: 20px;*/
    /*font-size: 16px;*/
    /*line-height: 16px;*/
/*}*/
.banner-left li .aLi-ul{
    width: 234px;
    height: 450px;
    position:absolute;
    top: 0;left: 234px;
    background: white;
    color: #666666;
    display: none;
    z-index:20;
}
.banner-left li .aLi-ul li{
    color: #666;width: 80px;
    float: left;
}
.banner-left li .aLi-ul li:hover{
    background: none;
    color: #ff6600;
}
.banner-left li i img{
    width: 12px;
    height: 24px;
}
.banner:after{
    display: block;
    clear: both;
    content: "";
}

/*banner部分下导图*/
.show{
    width: 1200px;
    margin: 20px auto;
}
.show:after{
    display: block;
    clear: both;
    content: "";
}
.show-ul1{
    width: 1200px;
}
.show-ul1:after{
    display: block;
    clear: both;
    content: "";
}
.show-ul1 li{
    width: 291px;
    height: 154px;
    margin-right: 12px;
    float: left;
}
.show-ul1 li:nth-last-of-type(1){
    margin: 0;
}
.show-ul1 li img{
    width:100%;
}
.show-ul2{
    width: 290px;
    background: #5F5750;
    height: 154px;
}
.show-ul2 li {
    width:96px;
    height: 77px;
    float: left;
    margin: 0;
    background: #5F5750;
}
.show-ul2 li img{
    width: 30px;
    margin: 10px 33px 0;
}
.show-ul2 li p{
    width: 100%;
    text-align: center;
    color: #CDCAC8;
}
/*小米明星单品*/
.dan{
    width: 1200px;
    margin: 0 auto;
}
.dan:after{
    display: block;
    clear: both;
    content: "";
}
.dan-top h1{
    float: left;
    width: 1000px;
    line-height: 58px;
    font-size: 22px;
    font-weight: 200;
}
.dan-top .dant-right{
    width: 200px;
    float: left;
}
.dant-right>div{
    width: 32px;
    margin-top: 16px;
    float: right;
    border: 1px solid #ddd;
    height: 20px;
    text-align: center;
}
.dant-right>div a{
    display: block;
    color:#B0B0B0;
    font-weight: 600;
}
.dant-right>div a:hover{
    color: #f25807;
}
.dan ul{
    width: 1200px;
}
.dan ul:after{
    display: block;
    clear: both;
    content: "";
}
.dan ul li{
    width:230px ;
    background: #FAFAFA;
    float: left;
    text-align: center;
    margin-right: 12px;
}
.dan ul li:last-child{
    margin: 0;
}
.dan ul li img{
    width: 88px;
    height: 106px;
    margin: 40px 66px 10px;
}
.dan ul li p{
    width: 220px;
    text-align: center;
    font-size: 12px;
}
.dan ul li p:nth-of-type(3){
    margin: 10px 0;
}
/*购物部分*/
.container{
    margin: 36px auto 0 auto;
    background: #F5F5F5;
    padding: 60px 0;

}
.container:after{
    display: block;
    clear: both;
    content: "";
}
/*家电*/
.con1{
    width: 1200px;
    margin: 0 auto 8px auto;
}
.con1:after{
    display: block;
    clear: both;
    content: "";
}
.con1-top{
    width: 1200px;
    height: 58px;
}
.con1-top:after{
    display: block;
    clear: both;
    content: "";
}
.con1-top h1{
    float: left;
    width: 900px;
    line-height: 58px;
    font-size: 22px;
    font-weight: 200;
}
.con1-tr{
    width: 300px;
    float: left;
    height: 58px;
    line-height: 58px;
}
.con1-tr p{
    height: 42px;
    font-size: 16px;
    float: right;line-height: 58px;
    margin:0 4px ;
}
.con1-con{
    width: 1200px;
}
.con1-con:after{
    display: block;
    clear: both;
    content: "";
}
.con1-left{
    width: 230px;
    float: left;
}
.con1-left img{
    width: 100%;
}
.con1-right{
    width: 970px;
    float: left;
}
.con1-right ul{
    width: 970px;
    float: left;
}
.con1-right ul li{
    width: 230px;
    height: 295px;
    margin-left: 12px;
    background: white;
    float: left;
    position: relative;
}
.con1-right ul li:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px gray;
}
.con1-right ul li .ali-con{
    position: absolute;
    width: 210px;
    padding: 0 10px;
    background: #ff6600;
    color: white;
    bottom: 0;left: 0;
    display: none;
}
.con1-right ul li .ali-con p:nth-of-type(1) {
    font-size: 14px;
    width: 210px;
    margin:10px auto 0;
    text-align: center;
}
.con1-right ul li .ali-con p:nth-of-type(2){
    width: 210px;
    font-size: 12px;
    color: #f5f5f5;
    margin: 0 auto 10px;
}
.con1-right ul li img{
    width: 132px;
    margin: 80px 49px 10px;
}
.con1-right ul li p{
    width: 230px;
    text-align: center;
    float: left;
}
.con1-right ul li p:nth-of-type(1){
    margin-top: 20px;
}
.con1-right ul li p:nth-of-type(2){
    margin-top: 10px;
    font-size: 12px;
}
.con1-right ul li p:nth-of-type(3){
    margin-top: 20px;
}
.con1-right ul li .dw{
    width: 64px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
    background: #E53935;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
}
.con1-right ul li .dws{
    width: 64px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
    background: #83C44E;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
}
.con1-right ul li .dww{
    width: 64px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
    background: #FFAC13;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
}
.con1-right ul:nth-of-type(2){
    margin-top: 12px;
}
.con1-right ul:nth-of-type(2) li:last-child{
    background: #F5F5F5;
}
 .cli-top{
    width: 230px;
    height: 141px;
    float: left;
     background: white;
}
.cli-top:nth-of-type(2){
    margin-top: 12px;
}
.cli-top .cli-left{
    width: 115px;
    height: 141px;
    float: left;
}
.cli-top .cli-left p{
    width: 115px;
    text-align: center;
}
.cli-top .cli-right{
    width: 115px;
    height: 141px;
    float: left;
}
.cli-top .cli-right img{
    width: 50px;
    margin: 40px 32px 0;
}
/*智能*/
.con2-left{
    width: 230px;
    float: left;
}
.con2-left ul li{
    width: 230px;
    height: 295px;
    float: left;
}
.con2-left ul li:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px gray;
}
.con2-left ul li:nth-of-type(2){
    margin-top: 12px;
}
.con2-left ul li img{
    width: 230px;
    height: 295px;
}
/*为你推荐*/
.tui{
    width: 1200px;
    margin: 0 auto;
}
.tui:after{
    display: block;
    clear: both;
    content: "";
}
.tui .tui-top{
    width: 1200px;
    margin-top: 44px;
}
.tui-top:after{
    display: block;
    clear: both;
    content: "";
}
.tui-top h1{
    float: left;
    width: 1000px;
    line-height: 58px;
    font-size: 22px;
    font-weight: 200;
}
.tui-top .t-right{
    width: 200px;
    float: left;
}
.t-right>div{
    width: 32px;
    margin-top: 16px;
    float: right;
    border: 1px solid #ddd;
    height: 20px;
    text-align: center;
}
.tui ul{
    width: 1200px;
}
.tui ul:after{
    display: block;
    clear: both;
    content: "";
}
.tui ul li{
    width: 230px;
    height: 260px;
    background: white;
    text-align: center;
    float: left;
    margin-right: 12px;
}
.tui ul li:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px gray;
}
.tui ul li img{
    height: 100px;
    margin-top: 40px;
}
.tui ul li p:nth-of-type(1){
    margin-top: 30px;
}
.tui ul li p:nth-of-type(2){
    margin-top: 10px;
}
.tui ul li p:nth-of-type(3){
    margin-top: 10px;
    color: #B0B0B0;
}
.tui ul li:last-child{
    margin: 0;
}
/*热评产品*/
.hot{
    width: 1200px;
    margin: 0 auto;
}
.hot:after{
    display: block;
    clear: both;
    content: "";
}
.hot-top{
    width: 1200px;
}
.hot-top h1{
    margin-top: 44px;
    font-size: 16px;
}
.hot ul{
    width: 1200px;
    margin-top: 16px;
}
.hot ul:after{
    display: block;
    clear: both;
    content: "";
}
.hot ul li{
    width: 288px;
    margin-right: 12px;
    float: left;
    background: white;
}
.hot ul li:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px gray;
}
.hot ul li:last-child{
    margin: 0;
}
.hot ul li img{
    width: 288px;
    float: left;
}
.hot ul li p{
    width: 240px;
    float: left;
    margin-top: 36px;
    padding: 0 24px;
}
.hot ul li p:nth-of-type(2) {
    margin-top: 16px;
    font-size: 12px;
    color: #B1B1B5;
}
.hot ul li p:nth-of-type(3){
    margin: 16px 0;
}
.hot ul li p span{
    margin: 0 4px;
    color: #B1B1B5;
}
/*内容*/
.nei{
    width: 1200px;
    margin: 0 auto;
}
.nei:after{
    display: block;
    clear: both;
    content: "";
}
.nei-top{
    width: 1200px;
}
.nei-top h1{
    font-size: 16px;
    width: 1200px;
    margin: 36px 0 16px;
}
.nei ul{
    width: 1200px;
}
.nei ul:after{
    display: block;
    clear: both;
    content: "";
}
.nei ul li{
    width: 291px;
    margin-right: 12px;
    float: left;
    background: white;
    text-align: center;
}
.nei ul li:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px gray;
}
.nei ul li h1{
    font-size: 20px;
    font-weight: 400;
}
.nei ul li p:nth-of-type(1){
    font-size: 16px;
}
.nei ul li p:nth-of-type(2){
    padding: 0 48px;
}
.nei ul li:last-child{
    margin-right: 0;
}
.nei ul li img{
    width: 74px;
    display: inline-block;
    margin-top: 16px;
}
.nei ul li:nth-of-type(1) .yuan,.nei ul li:nth-of-type(3) .yuan{
    width: 48px;
    margin: 16px 120px;
}
.nei ul li:nth-of-type(2) .yuan,.nei ul li:nth-of-type(4) .yuan{
    width: 64px;
    margin: 16px 112px;
}
.nei .yuan li{
    display: block;
    float: left;
    margin: 0 5px;
    width: 5px;height: 5px ;border-radius: 50%;
    background: #B0B0B0;
}
.nei .yuan li:nth-of-type(1){
    width: 4px;height: 4px;
    border-radius: 50%;
    background: none;
    border: 1px solid orange;
}
/*视频*/
.videos{
    width: 1200px;
    margin: 0 auto;
}
.videos:after{
    display: block;
    clear: both;
    content: "";
}
.videos-top{
    width: 1200px;
    margin:36px 0 16px 0;
}
.videos-top:after{
    display: block;
    clear: both;
    content: "";
}
.videos-top h1{
    width: 1000px;
    float: left;
    font-size: 16px;
}
.videos-top p{
    width: 200px;
    float: right;
    text-align: right;
}
.videos-top p span{
    float: right;
}
.videos-top p span:nth-of-type(1){
    width: 16px;
    text-align: center;
    float: right;
    display: block;
    background: #B0B0B0;
    color: white;
    border-radius: 50%;
}
.videos ul{
    width: 1200px;
}
.videos ul:after{
    display: block;
    clear: both;
    content: "";
}
.videos ul li{
    width: 291px;
    margin-right: 12px;
    float: left;
    background: white;
    text-align: center;
    position: relative;
}
.videos ul li:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px gray;
}
.videos ul li:last-child{
    margin: 0;
}
.videos ul li img:nth-of-type(1){
    width: 291px;
}
.videos ul li img:nth-of-type(2){
    position: absolute;
    left: 16px;
    top:90px;
}
.videos ul li p:nth-of-type(1){
    margin-top: 16px;
}
.videos ul li p:nth-of-type(2){
    color: #B0B0B0;
    font-size: 12px;
    margin: 10px 0 20px;
}

/*底部*/
.foot{
    width: 1200px;
    margin:  0 auto;
}
.foot:after{
    display: block;
    clear: both;
    content: "";
}
.foot .foot-top{
    width: 1200px;
    border-bottom:1px solid #F5F5F5;
}
.foot .foot-top:after{
    display: block;
    clear: both;
    content: "";
}
.foot .foot-top ul li{
    width: 239px;
    margin: 27px 0;
    height: 32px;
    line-height: 32px;
    float: left;
    text-align: center;
    border-right: 1px solid #ECECEC;
}
.foot .foot-top ul li a{
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    color: #767676;
}
.foot ul li:last-child{
    border: none;
}
.foot-con{
    width: 1200px;
}
.foot-cl{
    width: 950px;
    float: left;
    margin-top: 32px;
    margin-bottom: 32px;
    border-right: 1px solid #F5F5F5;
}
.foot-cl ul{
    width: 80px;
    margin-right: 70px;
    float: left;
}
.foot-cl ul li{
    width: 80px;
    float: left;
    font-size: 12px;
    color: #767676;
    margin-bottom: 16px;
}

.foot-cl ul li a{
    display: block;
    color: #767676;
}
.foot-cl ul li a:hover{
    color: #ff6600;
}
.foot-cl ul li:nth-of-type(1){
    margin-bottom: 26px;
    font-size: 14px;
    color: #0B0C0E;
}
.foot-cr{
    width: 249px;
    float: left;
}
.foot-cr p:nth-of-type(1){
    margin-bottom: 5px;
    margin-top: 32px;
}
.foot-cr p{
    width: 249px;
    float: left;
    font-size: 12px;
    text-align: center;
    color: #616161;
}
.foot-cr div{
    width: 118px;
    height: 30px;
    float: left;
    font-size: 12px;
    margin: 16px 64px;
    line-height: 30px;
    color: #FF6B00;
    text-align: center;
    border: 1px solid  #FF6B00;
}
/*footer*/
.footer{
    background: #FAFAFA;
}
footer{
    width: 1200px;
    margin:  0 auto;
    background: #FAFAFA;
    padding: 30px 0;
}
footer:after{
    display: block;
    clear: both;
    content: "";
}
.footer-top{
    width: 1200px;
}
.footer-top:after{
    display: block;
    clear: both;
    content: "";
}
.footer-left{
    width:57px;
    height: 57px;
    float: left;
}
.footer-left img{
    width: 57px;
    height: 57px;
}
.footer-con{
    width: 620px;
    padding: 0 16px;
    float: left;
}
.footer-con ul{
    width:720px;
    float: left;
}
.footer-con ul li{
    float: left;
    margin:0 4px;
    font-size: 12px;
    color: #757575;
    line-height: 18px;
}
.footer-con p{
    width: 720px;
    float: left;
    line-height: 18px;
    font-size: 12px;
    color: #B0B0B0;
}
.footer-right{
    width: 376px;
    float: right;
}
.footer-right ul{
    width: 440px;
}
.footer-right ul li{
    float: left;
}
.footer ul li img{
    width: auto;
    height: 28px;
    margin-left: 7px;
}
.footer-bom{
    width: 1200px;
    padding-top:30px;
    margin: 0 auto;
    font-size: 20px;
    color: #C2C2C2;
    text-align: center;
    font-family: 楷体;

}